fastapi[all]

pydantic[email]

sqlalchemy
asyncpg
psycopg2-binary
alembic

pytest
pytest-asyncio
pytest-mock

fastapi-cache2[redis]

fastapi-users[sqlalchemy]

celery
flower

python-multipart

gunicorn